<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stats for run-log</title>
  <script src="lib/vue.min.js"></script>
  <link rel="stylesheet" href="lib/picnic.min.css" />
  <link rel="stylesheet" href="leaflet.css" />
  <script src="leaflet.js"></script>
  <script src="gpx.min.js"></script>
  <style>
      body { margin: 2em; }
      .all { font-size: 60%; }
      .all p { margin: 0; }
      .save { display: block; margin-top: -1em; font-size: 70%; cursor: pointer; }
      
      td.w2-0 { background: teal; color: white; }
      td.w2-1 { background: grey; color: white; }
      
      td.w, td.w~* { border-top: 1px solid black; }
      td.w+*+*+*+* { border-right: 1px solid black; }
      td:last-child { border-right: 1px solid black; }
      td:nth-last-child(-n+3) { font-size: 70%; }

      .segments td:nth-last-child(n+1) { font-size: 70%; }

      td { position: relative; }
      td[style]::after { content: ''; background: blue; position: absolute; left: 2%; width: calc(var(--v) * 96%); bottom: 0; height: 100%/*.3em*/; opacity: 0.15; }
      td.dur::after { background: darkgreen; }
      td.d_pos::after { background: darkred; }
      
      .point { cursor: pointer; }
      .global-controls span { cursor: pointer; border: 1px solid grey; display: inline-block; text-align: center; min-width: 1.5em; }
      .with-actions span { cursor: pointer; }
      .issue { color: red; }

      /* undo huge picnic padding? */
      td, th { padding-right: .6em; /*instead of 2.4*/ }

      /* */
      .gpx-list {float: left; font-size: 10px; width: 120px; height: 600px; overflow-y: scroll; margin-left: 0; padding-left: 0;}
      .gpx-list li:hover {background: beige; cursor: pointer;}
      #themap {display: inline-block; width: 700px; height: 600px;}
      .toolbar {vertical-align: top; display: inline-flex; flex-direction: column; }
  </style>
</head>
<body>
  
    <div id="main" @click="">
        <article class="card">
            <header>
                <h4><label><input type="checkbox" v-model="showSegments"/><span class="checkable">Segments</span></label></h4>
            </header>
            <my-segments v-if="showSegments"></my-segments>
        </article>
        path <span class="pointer" @click="reload()">⟲</span>:
        <input v-model="path"/><a class="save" @click="savePath()">save</a>
        <div class="global-controls">
            <span @click="runShellCommand('edit-logs', null)">L</span>
            <span @click="runShellCommand('edit-notes', null)">N</span>
            <span @click="runShellCommand('edit-parcourstest', null)">PT</span>
        </div>
        <div>
            total distance: {{total.dist}} km<br/>
            total duration: {{parseInt(total.dur / 60)}} h<br/>
            total D+: {{total.d_pos}} m<br/>
            total D-: {{total.d_neg}} m<br/>
        </div>
        <hr/>
        <label><input type="checkbox" v-model="showWeekly"/><span class="checkable">Weekly/Daily</span></label>
        (<label><input type="checkbox" v-model="showWeeklyDetails"/><span class="checkable">Show details</span></label>)

        <span v-for="r in currentlyRunning">[{{r.text}}]</span>

        <table v-if="showWeekly">
            {{ set(_m = max_weekly_stats) }}
            {{ set(_md = max_daily_stats) }}
            <tbody>
            <tr v-for="(e,i) in entries" :key="`entry-${i}`">
                {{ set(_week = 0) }}
                <template v-if="i==0 || e.week !== entries[i-1].week">
                    {{ set(_nb = entriesInWeek(entries, i, e.week)) }}
                    {{ set(window.console.log(e.week))}}
                    {{ set(_stat = weekly_stats_dict[e.week]) }}
                    <td :class="`w w-${_week} w2-${_week%2} w3-${_week%3}`" :rowspan="_nb" style="border: 1px solid black">W:{{e.week}}</td>
                    <td class="dist"  :rowspan="_nb" :style="{'--v': _stat.dist  / _m.dist }">{{_stat.dist}}km</td>
                    <td class="dur"   :rowspan="_nb" :style="{'--v': _stat.dur   / _m.dur  }">{{dur(_stat.dur)}}</td>
                    <td class="d_pos" :rowspan="_nb" :style="{'--v': _stat.d_pos / _m.d_pos}">{{_stat.d_pos}}D+</td>
                    <td class="d_neg" :rowspan="_nb">{{_stat.d_neg}}D-</td>
                    <td class="nb" :rowspan="_nb">{{_nb}}</td>
                    {{ set(_week += 1) }}
                </template>
                <template v-if="showWeeklyDetails">
                    <td class="with-actions">{{e.date}}
                        <span @click="runShellCommand('generic', e)">📈</span>
                        <span @click="runShellCommand('smooth', e)">⛰️</span>
                        <span @click="runShellCommand('gpxsee', e)">🏔️</span>
                    </td>
                    <td class="dist"  :style="{'--v': e.dist  / _md.dist }" :title="(e.dist / e.dur * 60) + 'km/h'">{{e.dist}}km</td>
                    <td class="dur"   :style="{'--v': e.dur   / _md.dur  }">{{dur(e.dur)}}</td>
                    <td class="d_pos" :style="{'--v': e.d_pos / _md.d_pos}">{{e.d_pos}}+/{{e.d_neg}}-</td>
                </template>
            </tr>
            </tbody>
        </table>
        <hr/>
        <label><input type="checkbox" v-model="showMonthly"/><span class="checkable">Monthly</span></label>
        <table v-if="showMonthly">
            {{ set(_m = max_monthly_stats) }}
            <tr v-for="m in monthly_stats">
                <td>{{m[0]}}</td>
                <td class="dist"  :style="{'--v': m[1].dist  / _m.dist }">dist: {{m[1].dist}} km</td>
                <td class="dur"   :style="{'--v': m[1].dur   / _m.dur  }">dur: {{dur(m[1].dur)}}</td>
                <td class="d_pos" :style="{'--v': m[1].d_pos / _m.d_pos}">D+: {{m[1].d_pos}} m</td>
                <td>D-: {{m[1].d_neg}} m</td>
            </tr>
        </table>
        <hr/>
        <label><input type="checkbox" v-model="showYearly"/><span class="checkable">Yearly</span></label>
        <table v-if="showYearly">
            {{ set(_m = max_yearly_stats) }}
            <tr v-for="m in yearly_stats">
                <td>{{m[0]}}</td>
                <td class="dist"  :style="{'--v': m[1].dist  / _m.dist }">dist: {{m[1].dist}} km</td>
                <td class="dur"   :style="{'--v': m[1].dur   / _m.dur  }">dur: {{dur(m[1].dur)}}</td>
                <td class="d_pos" :style="{'--v': m[1].d_pos / _m.d_pos}">D+: {{m[1].d_pos}} m</td>
                <td>D-: {{m[1].d_neg}} m</td>
            </tr>
        </table>
        <hr/>
        <label><input type="checkbox" v-model="showShoely"/><span class="checkable">Shoely</span></label>
        <table v-if="showShoely">
            {{ set(_m = max_shoely_stats) }}
            <tr v-for="m in shoely_stats">
                <td>{{m[0]}}</td>
                <td class="dist"  :style="{'--v': m[1].dist  / _m.dist }">dist: {{m[1].dist}} km</td>
                <td class="dur"   :style="{'--v': m[1].dur   / _m.dur  }">dur: {{dur(m[1].dur)}}</td>
                <td class="d_pos" :style="{'--v': m[1].d_pos / _m.d_pos}">D+: {{m[1].d_pos}} m</td>
                <td>D-: {{m[1].d_neg}} m</td>
            </tr>
        </table>
        <hr/>
        <label><input type="checkbox" v-model="showAll"/><span class="checkable">Show all</span></label>
        <div v-if="showAll" class="all">
            <p v-for="(e,i) in checkedEntries" :key="`entry-${i}`" :class="{issue: e.issue}">
                {{ e }}
            </p>
        </div>
    </div>

    <script src="lib/vuejspython.js"></script>
    <script>
    function genColors(nHue, nSat) {
        let res = []
        for (let i = 0; i < nHue * nSat; i++) {
            res.push(`hsl(${(i%nHue)*256/nHue}, 100%, ${40+Math.floor(i/nHue)*40/nSat}%)`)
        }
        return [...res, ...res, ...res, ...res, ...res, ...res, ...res]
    }

    /* vuejspython component */
    vuejspython.component('Segments', 'my-segments', {
        template: `
        <div class="segments">
            <div class="toolbar">
                <button @click="listAllGpx()">all</button>
                <button @click="listGpxInBox_withfeedback(mymap.getBounds())">here</button>
                <button @click="all_gpx = all_gpx.slice(5)">rm 5 beg</button>
                <button @click="all_gpx = all_gpx.slice(0,-5)">rm 5 end</button>
                <button @click="all_gpx = all_gpx.slice(-100)">keep 100 end</button>
                <button @click="all_gpx = all_gpx.slice(0, 100)">keep 100 beg</button>
                <button @click="all_gpx = all_gpx.slice(-10)">keep 10 end</button>
                <button @click="all_gpx = all_gpx.slice(0, 10)">keep 10 beg</button>
                <button @click="viewAllAndOnly()">👁 current</button>
                <button @click="computeTable()">... table</button>
            </div>
            <ul class="gpx-list">
                <li v-for="p in all_gpx" :key="p" @click="loadGpx(p)"
                >{{ p.replace(/.*[/_](....-..-..(_..-..)?)[^/]*/, '$1') }}</li>
            </ul>
            <div id="themap" ref="themap"></div>
            <div>
                <table>
                    <tr>
                        <th @click="kview = kview == 'cumul' ? 'delta' : 'cumul'">({{kview}})</th>
                        <th v-for="c in table.cols" :key="c.id" :style="{'background-color': c.color}">REG</th>
                    </tr>
                    <tr v-for="r,ir in table.rows">
                        <td v-for="c,ic in table.cols" :key="c.id"
                        :style="ic>0 ? {} : {'background-color': r.color}"
                        :colspan="ic>0 ? 1 : 2">{{ table.data[ir][c.id] ? table.data[ir][c.id][kview] : '...' }}</td>
                    </tr>
                </table>
            </div>
        </div>
        `,
        data: () => ({
            colors: genColors(9, 4),
            cfg: {
                // tileURL: 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
                tileURL: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                center: [45.450678,4.393716],
                zoom: 16,
            },
            fitting: true,
            movingRegion: null,
            table: {
                rows: [],
                cols: [],
                data: [],
            },
            kview: 'delta', // delta, cumul
        }),
        methods: {
            promptSetRadius(i) {
                if (i === -1) return
                let v = window.prompt("Radius", this.getRegions()[i].getRadius())
                if (v !== null) {
                    v = parseFloat(v)
                    if (!isNaN(v)) {
                        this.getRegions()[i].setRadius(v)
                    }
                }
            },
            promptDelete(i) {
                if (window.confirm("Delete region?")) {
                    this.getRegions()[i].remove()
                }
            },
            async listGpxInBox_withfeedback(bounds) {
                this.all_gpx = ['Filtering... wip']
                await this.$nextTick()
                await this.listGpxInBox(bounds)
            },
            addGpxFile(gpx) {
                let opts = {
                    async: true,
                    gpx_options: {
                        parseElements: ['track', 'route'],
                    },
                    marker_options: {
                        startIconUrl: null,
                        endIconUrl: null,
                        shadowUrl: null,
                    }
                }
                new L.GPX(gpx, {
                    ...opts,
                    isRef: true,
                    polyline_options: {
                        color: `hsl(${Math.random()*255}, 50%, 50%)`,
                        opacity: 0.75,
                        weight: 6,
                        smoothFactor: 10,
                    }
                }).on('loaded', (e) => {
                    if (this.fitting) {
                        this.mymap.fitBounds(e.target.getBounds())
                    }
                    new L.GPX(gpx, {
                        ...opts,
                        polyline_options: {
                            color: `black`,
                            weight: 1,
                            smoothFactor: 10,
                        }
                    }).addTo(this.mymap)
                }).addTo(this.mymap)
            },
            removeAllGpx() {
                this.mymap.eachLayer(l => { if ('_gpx' in l) l.remove() })
            },
            getRegions() {
                return Object.values(this.mymap._layers).filter(l => l.options.isRegion)
            },
            computeTable() {
                let tracks = Object.values(this.mymap._layers).filter(l => l._gpx && l.options.isRef)
                let regions = this.getRegions()
                let cols = regions.map(r => ({...r.options, ...r._latlng, id: r._leaflet_id}))
                let rows = []
                let data = []
                for (let t of tracks) {
                    let trackColor = t.options.polyline_options.color
                    let waitingFor = 0
                    let lastTime = 0
                    let firstTime = 0
                    for (let ll of Object.values(t._layers)[0]._latlngs) {
                        let r = regions[waitingFor]
                        let rId = r._leaflet_id
                        let radius = r.getRadius()
                        if (t._dist2d(r._latlng, ll) < radius) {
                            if (waitingFor == 0) {
                                rows.push({color: trackColor})
                                data.push({})
                                let v = ll.meta.time.toISOString().substr(0, 19).replaceAll('T', ' ')
                                data[data.length-1][rId] = {delta: v, cumul: v}
                                firstTime = ll.meta.time
                            } else {
                                data[data.length - 1][rId] = {
                                    delta: '+' + (new Date(ll.meta.time - lastTime).toISOString().substr(11, 8)).replace(/^00:/, ''),
                                    cumul: '+' + (new Date(ll.meta.time - firstTime).toISOString().substr(11, 8)).replace(/^00:/, ''),
                                }
                            }
                            lastTime = ll.meta.time
                            waitingFor = (waitingFor+1)%regions.length
                        }
                    }
                }
                // gpx.options.polyline_options.color
                //Object.values(gpx._layers)[0]._latlngs
                this.table = { cols, rows, data }
            },
            async viewAllAndOnly() {
                this.fitting = false
                this.removeAllGpx()
                for (let p of this.all_gpx) {
                    let gpx = await this.readGpxFile(p)
                    this.addGpxFile(gpx)
                }
                this.fitting = true
            },
            async loadGpx(p) {
                let gpx = await this.readGpxFile(p)
                this.addGpxFile(gpx)
            },
            onclick(e) {
                if (this.movingRegion) return
                if (e.originalEvent.shiftKey) return
                let map = this.mymap
                //console.log(e.latlng)
                let {lat, lng} = e.latlng
                let reg = [lat, lng, 10]
                let circle = L.circle([reg[0], reg[1]], {radius: reg[2], color: this.colors[this.getRegions().length], isRegion: true}).addTo(map)
                let grabbed = false
                circle.on({
                    click: (e) => {
                        L.DomEvent.stopPropagation(e.originalEvent)
                        grabbed = !grabbed
                        if (grabbed) {
                            this.movingRegion = circle
                            map.on('mousemove', (e) => {
                                circle.setLatLng(e.latlng)
                                reg[0] = e.latlng.lat
                                reg[1] = e.latlng.lng
                            })
                        } else {
                            this.$nextTick(() => {
                                this.movingRegion = null
                            })
                            map.off('mousemove')
                        }
                    }
                })
            },
            onkeypress(e) {
                let ir = this.movingRegion ? this.getRegions().indexOf(this.movingRegion) : this.getRegions().length - 1
                let r = this.getRegions()[ir]
                if (e.originalEvent.key === 'd') {
                    this.promptDelete(ir)
                }
                if (e.originalEvent.key === 'a') {
                    this.promptSetRadius(ir)
                    L.DomEvent.stopPropagation(e.originalEvent)
                    return
                }

            },
        },
        mounted() {
            this.mymap = L.map('themap').setView(this.cfg.center, this.cfg.zoom)
            L.tileLayer(this.cfg.tileURL, {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ',
                /*
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1*/
            }).addTo(this.mymap)
            this.mymap.on('click', this.onclick.bind(this))
            this.mymap.on('keypress', this.onkeypress.bind(this))
        }
    })
    vuejspython.start({
        data: () => ({
            showAll: false,
            showWeekly: true,
            showMonthly: false,
            showYearly: false,
            showWeeklyDetails: true,
            showShoely: false,
            showSegments: true,
        }),
        mounted() {
            let p = localStorage.getItem('stats_py_path')
            //let p = localStorage.getItem('stats_py_pathTMP')
            if (p !== null) {
                this.$set(this, 'path', p)
            }
        },
        computed: {
            checkedEntries() {
                let hasIssue = e => e.dist == null
                return this.entries.map(e => ({...e, issue: hasIssue(e)}))
            }
        },
        methods: {
            set() { return undefined; },
            savePath() {
                localStorage.setItem('stats_py_path', this.path)
                //localStorage.setItem('stats_py_pathTMP', this.path)
            },
            entriesInWeek(entries, i, week) {
                let c = 0;
                while (i<entries.length && entries[i].week === week) {
                    c++;
                    i++;
                }
                return c;
            },
            dur(mins) {
                let h = parseInt(mins/60)
                let m = ''+parseInt(mins - h*60)
                return h + 'h' + m.padStart(2, '0')
            },
            reload() {
                let p = this.path
                this.path = ''
                setTimeout(() => {this.path = p}, 1)
            },
        }
        }, 'ws://localhost:42999')
        </script>

</body>
</html>
