<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stats for run-log</title>
  <script src="lib/vue.min.js"></script>
  <link rel="stylesheet" href="lib/picnic.min.css" />
  <style>
      body { margin: 2em; }
      .all { font-size: 60%; }
      .all p { margin: 0; }
      .save { display: block; margin-top: -1em; font-size: 70%; cursor: pointer; }
      
      td.w2-0 { background: teal; color: white; }
      td.w2-1 { background: grey; color: white; }
      
      td.w, td.w~* { border-top: 1px solid black; }
      td.w+*+*+*+* { border-right: 1px solid black; }
      td:last-child { border-right: 1px solid black; }
      td:nth-last-child(-n+3) { font-size: 70%; }
  </style>
</head>
<body>
  
    <div id="main">
        path:
        <input v-model="path"/><a class="save" @click="savePath()">save</a>
        <div>
            total distance: {{total.dist}} km<br/>
            total duration: {{parseInt(total.dur / 60)}} h<br/>
            total D+: {{total.d_pos}} m<br/>
            total D-: {{total.d_neg}} m<br/>
        </div>
        <hr/>
        <label><input type="checkbox" v-model="showWeekly"/><span class="checkable">Weekly/Daily</span></label>
        (<label><input type="checkbox" v-model="showWeeklyDetails"/><span class="checkable">Show details</span></label>)

        <table v-if="showWeekly">
            <tbody>
            <tr v-for="(e,i) in entries" :key="`entry-${i}`">
                {{ set(_week = 0) }}
                <template v-if="i==0 || e.week !== entries[i-1].week">
                    {{ set(_nb = entriesInWeek(entries, i, e.week)) }}
                    {{ set(_stat = weekly_stats_dict[e.week]) }}
                    <td :class="`w w-${_week} w2-${_week%2} w3-${_week%3}`" :rowspan="_nb" style="border: 1px solid black">W:{{e.week}}</td>
                    <td :rowspan="_nb">{{_stat.dist}}km</td>
                    <td :rowspan="_nb">{{dur(_stat.dur)}}</td>
                    <td :rowspan="_nb">{{_stat.d_pos}}D+</td>
                    <td :rowspan="_nb">{{_stat.d_neg}}D-</td>
                    <td :rowspan="_nb">{{_nb}}</td>
                    {{ set(_week += 1) }}
                </template>
                <template v-if="showWeeklyDetails">
                    <td>{{e.date}}</td>
                    <td>{{e.dist}}km</td>
                    <td>{{dur(e.dur)}}</td>
                    <td>{{e.d_pos}}+/{{e.d_neg}}-</td>
                </template>
            </tr>
            </tbody>
        </table>
        <hr/>
        <label><input type="checkbox" v-model="showMonthly"/><span class="checkable">Monthly</span></label>
        <table v-if="showMonthly">
            <tr v-for="m in monthly_stats">
                <td>{{m[0]}}</td>
                <td>dist: {{m[1].dist}} km</td>
                <td>dur: {{dur(m[1].dur)}}</td>
                <td>D+: {{m[1].d_pos}} m</td>
                <td>D-: {{m[1].d_neg}} m</td>
            </tr>
        </table>
        <hr/>
        <label><input type="checkbox" v-model="showAll"/><span class="checkable">Show all</span></label>
        <div v-if="showAll" class="all">
            <p v-for="(e,i) in entries" :key="`entry-${i}`">
                {{ e }}
            </p>
        </div>
    </div>

    <script src="lib/vuejspython.js"></script>
    <script>vuejspython.start({
        data: () => ({
            showAll: false,
            showWeekly: true,
            showMonthly: true,
            showWeeklyDetails: true,
        }),
        mounted() {
            let p = localStorage.getItem('stats_py_path')
            if (p !== null) {
                this.$set(this, 'path', p)
            }
        },
        methods: {
            set() { return undefined; },
            savePath() {
                localStorage.setItem('stats_py_path', this.path)
            },
            entriesInWeek(entries, i, week) {
                let c = 0;
                while (i<entries.length && entries[i].week === week) {
                    c++;
                    i++;
                }
                return c;
            },
            dur(mins) {
                let h = parseInt(mins/60)
                let m = ''+parseInt(mins - h*60)
                return h + 'h' + m.padStart(2, '0')
            }
        }
        })</script>

</body>
</html>
